*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-size: 18px;

  /* Colors */
  /* Primary */
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

html {
  height: 100%;
  font-size: 18px;
}

body {
  height: 100%;
  font-family: var(--font-barlow);
}

h1,
h2,
.learn-more,
.cta {
  font-family: var(--font-fraunces);
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

header {
  position: relative;
}

.header-img {
  width: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
}

.header-logo {
  width: 10em;
}

.header-logo img {
  width: 100%;
}

.header-menu-icon {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2.5em;
  color: var(--color-white);
}

.cta {
  text-transform: uppercase;
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  padding: 1.2em 2em;
  border-radius: 5em;
  font-size: 0.8rem;
  outline: transparent;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.cta:hover,
.cta:focus {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: var(--color-white);
}

.header-title {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.15em;
  color: var(--color-white);
}

.icon-arrow-down {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 100%;
  place-items: center;
  margin-top: -0.21em;
}

.service-img {
  width: 100%;
}

.service-info {
  width: 60%;
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
}

.service-title {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-very-dark-desaturated-blue);
}

.service-desc {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-very-dark-grayish-blue);
  margin: 2em 0;
}

.learn-more {
  position: relative;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900;
  color: var(--color-very-dark-desaturated-blue);
  margin-left: 0.5em;
}

.learn-more::before {
  content: "";
  width: 114%;
  height: 0.6em;
  position: absolute;
  top: 0.8em;
  left: -7%;
  z-index: -1;
  border-radius: 5em;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.learn-more:hover::before {
  opacity: 1;
}

.transform .learn-more::before {
  background-color: var(--color-yellow);
}

.stand-out .service-info {
  grid-column: 2;
}

.stand-out .learn-more::before {
  background-color: var(--color-soft-red);
}
